@model IEnumerable<ProjectsManagementSystem.Models.User_Projects>

@{
    ViewBag.Title = "Edit";
}

<h2>Updating Project Members</h2>

<hr />

<table class="table table-striped table-bordered table-hover">
    <tr class="">
        <th>
            Memeber name
        </th>
        <th>
            Job Title
        </th>
        <th>
            Memeber email
        </th>

    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td>

                @item.Users.name
            </td>
            <td>

                @item.Users.Job_Title.title
            </td>
            <td>
                @item.Users.email
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveMember", new { userid = item.myUser_id, projid = item.project_id } , new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>



<div>
    @Html.ActionLink("Back to Profile", "Index",null , new {  @class = "btn btn-info" })
</div>
